{% extends 'base.html.twig' %}

{% block title %}Modif Voiture{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="example-wrapper">
    <h1>Modifier un Voiture</h1>

    {{ include('voiture/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('voiture_index') }}" class="btn btn-secondary">Liste des voitures</a>

    {{ include('voiture/_delete_form.html.twig') }}
    </div>
{% endblock %}
